<div class="header-container">
	<div class="header-left">
		<mat-icon (click)='activeTab()'>menu</mat-icon>
		<h2>Racer</h2>
	</div>
	<div class='header-right'>
		<mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
		<mat-icon>exit_to_app</mat-icon>
	</div>
</div>

<div class='content-container'>
	<div class='sidenav-container-absolute' [ngClass]="setMyClasses()">
		<div class='sidenav-container-flex'>
			<div class='sidenav-menu'>
				<mat-icon>home</mat-icon>
				<h3>Home</h3>
			</div>
		</div>
	</div>
	<div class='child-container-absolute'>
		<div class='child-container-flex'>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
	</div>
</div>