/* splash animation */
.container-splash{
 width: 100%;
 height: 100%;
 position:absolute;
 background-color:darkorchid;
 z-index: -1;
 /* animation: splash 2s 4s;
 animation-fill-mode: both; */
}
.container-not-splash{
 width: 100%;
 position:absolute;
}
.animation-text{
 position:absolute;
 top: 50%;
 left: 50%;
 opacity:0;
 /* animation: text 4s 0s; */
}
.animation-text h2{
 color:white;
 margin:0px;
}
@keyframes splash {
  0% {
   background-color:darkorchid;
   z-index: 1;
  }
  100% {
   background-color:transparent;
   z-index: -1;
  }
}
@keyframes text {
  0% {
   top: 50%;
   left: 50%;
   opacity:0;
  }
  25%{
   top: 50%;
   left: 50%;
   opacity:1;
  }
  100% {
   top: 19px;
   left: 44px;
   opacity:1;
  }
}
/* header */
.header-container{
 display:flex;
 background-color: darkorchid;
 padding: 0px 10px
}
.header-container .header-left{
 display:flex;
 flex:1;
 justify-content: flex-start;
 align-items: center;
}
.header-container .header-right{
 display:flex;
 width: 80px;
 justify-content: space-around;
 align-items: center;
}
.header-container .header-left h2{
 color:white;
 margin-left: 10px
}
.header-container mat-icon {
 color:white;
 font-size :25px;
 cursor:pointer;
}
/* container of content consist of sidenav and child */
.content-container{
 width: 100%;
 position:relative;
}
/* sidenav */
.sidenav-container-absolute{
 display: flex;
 height:100%;
 width: 0px;
 background-color: rgb(251, 241, 253);
 position: absolute;
 overflow: auto;
 transition:width .5s;
 z-index: 1;
}
.sidenav-container-absolute.active{
 width: 250px;
}
.sidenav-container-flex{
 display:flex;
 flex:1;
 flex-direction: column;
 padding: 10px 15px;
}
.sidenav-profile{
 display:flex;
 margin-top:10px;
 margin-bottom:10px;
}
.sidenav-profile img{
 width: 70px;
 height: 70px;
 border-radius: 50%;
}
.sidenav-profile .email{
 display:flex;
 flex:1;
 flex-direction: column;
 align-items: center;
 justify-content: center
}
.sidenav-profile .email p {
 margin:5px;
}
.sidenav-profile .email h4{
 margin:2px;
}
.sidenav-menu{
 display:flex;
 justify-content: flex-start;
 align-items: center;
 border-radius: 10px;
 transition: margin-left 1s;
 background-color: darkorchid;
 margin-top:5px;
 padding: 0px 10px;
}
.sidenav-menu:hover{
 cursor:pointer;
 margin-left:30px
}
.sidenav-menu mat-icon{
 color: white;
 height: 26px;
}
.sidenav-menu h3{
 margin-left:5px;
 color: white;
}
/* child */
.child-container-absolute{
 height:100%;
 width:100%;
 background-color: rgb(250, 250, 250);
 position: absolute;
 overflow: auto;
}
.child-container{
 transition:padding-left .5s;
}
.child-container.active{
 padding-left:250px;
}
@media screen and (max-width: 400px) {
.sidenav-container-absolute.active{
 width: 200px;
}
}

