.container{
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 height: 100%;
 width: 100%;
}
.content{
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 height: 50vh;
 width: 0%;
 border: 1px solid rgb(227, 227, 240);
 box-shadow: 5px 10px 8px #888888;
 padding: 12px;
}
