<div class='container'>
	<div class='content'>

		<p>Register</p>
		<div class="role">
			<mat-label>Role</mat-label>
			<div>
				<mat-checkbox [(ngModel)]="role.user">User</mat-checkbox>
				<mat-checkbox [(ngModel)]="role.admin">Admin</mat-checkbox>
				<mat-checkbox [(ngModel)]="role.pm">Pm</mat-checkbox>

			</div>
			<div *ngIf="!role.user&&!role.admin&&!role.pm">
				<mat-hint>! Role must be assigned</mat-hint>
			</div>
			<mat-divider></mat-divider>
		</div>
		<form [formGroup]='registerForm' class='example-form'>
			<mat-form-field class="example-full-width">

				<mat-label>Name</mat-label>
				<input matInput formControlName="name" >
				<mat-error *ngIf="registerForm.controls.name.errors?.minLength && !registerForm.controls.name.errors?.required">
						Name is <strong>required</strong>
				</mat-error>
				<!-- <mat-error
					*ngIf="registerForm.controls.name.errors?.max&&!registerForm.controls.name.errors?.required&&!registerForm.controls.name.errors?.min ">
					Max is <strong>50</strong>
				</mat-error> -->
				<mat-error *ngIf="registerForm.controls.name.errors?.required">
					Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>
      
			<mat-form-field class="example-full-width">
				<mat-label>Username</mat-label>
				<input matInput formControlName="username" >

				<mat-error *ngIf="registerForm.controls.username.errors?.required ">
					Username is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>Password</mat-label>
				<input matInput formControlName="password" >

				<mat-error *ngIf="registerForm.controls.password.errors?.required ">
					Password is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-full-width">
				<mat-label>Email</mat-label>
				<input matInput formControlName="email" placeholder="Ex. pat@example.com">
				<mat-error
					*ngIf="registerForm.controls.email.errors?.email && !registerForm.controls.email.errors?.required ">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="registerForm.controls.email.errors?.required ">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>


		</form>
		<button class="example-full-width" mat-raised-button (click)="send()" color="primary">Signup</button>
	</div>

</div>